-# layout.haml
!!!
%html
  %head
    %title Bookmark App
    %link{rel: 'stylesheet', href: 'css/application.css', type: 'text/css'}
  %body
    = yield
    %h1 Welcome to Linki.o.us
    %section
      
    %footer Copyright 2013 margOnline 