-# layout.haml
!!!
%html
  %head
    %title Bookmark App
    %link{rel: 'stylesheet', href: '/css/application.css', type: 'text/css'}
  %body
    #page-wrap
      %h1 Welcome to Linki.o.us
      - if current_user
        #welcome
          Welcome, #{current_user.email}
      %section
        = yield
      %footer 
        Copyright 2013 
        %a{href: "http://www.margonline.co.uk"}
          margOnline 