body {
 /* background-color: #e4e4e4;*/
  color: #587555;
}

#link-icon{
  background-image: 'img/gold-link.jpeg'
}

a{
  color: #94C290;
}

/*#page-wrap{
  width:90%;
  margin:30px auto;
}

section {
  width:40%;
  margin:auto;
}
footer {
  margin-top: 40px;
  font-size: .875em;
}

a{
  text-decoration: none;
}

a:hover, a:active {
  font-style: italic;
}
.button{
  font-size: 1em;
  border-radius: 10px;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8a8a8a), color-stop(1, #c7c7c7) );
  background:-moz-linear-gradient( center top, #8a8a8a 5%, #c7c7c7 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#c7c7c7');
  background-color:#8a8a8a;
}

.button:active {
  position:relative;
  top:1px;
}*/