/ - email = @user.email
-if flash[:errors] && !flash[:errors].empty?
  %p{class: 'lead'}
    Sorry, there were the following problems with your form.
    %ul{id: 'errors'}
      -flash[:errors].each do |error|
        %li{class: 'text-error'}
          =error

%h1 Please sign up
%form{:action => "/users", :method => "post"}
  %p 
    Email:
    %input{type: "text", name: "email", value: @user.email}
  %p 
    Password:
    %input{:type => "password", :name => "password"}
  %p 
    Confirm password:
    %input{:type => "password", :name => "password_confirmation"}
  %p
    %input{:type => "submit", :class => 'button', :value => "Sign up"}