.container
  %h1 
    %img{:src => '/img/gold-link.jpeg', :width => '45', :height => '45'}
    Welcome to Linkalici.o.us
  
  %section

  %h3 Current links:
  %ul
    - @links.each do |link|
      %li
        %a{:href => "#{link.url}"}= link.title

  #new-link
    %form{:action => "/links", :method => "post"}
      %p 
        Url:
        %input{:type => "text", :name => "url"}
      %p 
        Title:
        %input{:type => "text", :name => "title"}
      %p 
        Tags:
        %input{:type => "text", :name => "tags"}
      %p
        %input{:type => "submit", :class => 'button', :value => "Add link"}
