!!!
%html
  %head
    %title Bookmark App
    %link{:rel => 'stylesheet', :href => '/css/reset.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/application.css', :type => 'text/css'}

  %body
    = partial :header
    = partial :flash
    = yield
    = partial :footer