%li{class: 'link'}
  %a{class: 'title', href: link.url}
    link.title
  .description
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %span{class: 'source'}
    added yesterday by
    %a{href: 'http://www.margOnline.co.uk'}
      margo@margOnline.co.uk